.mapContainer {
    width: 70%;
    padding: 20px;
}

.searchBarContainer {
    width: 100%;
    height: 15%;
    padding: 20px;
}

.homeBody {
    display: flex;
    gap: 10px;
    height: 85%;
}

.recommendationContainer {
    padding-top: 20px;
    padding-right: 20px;
}