.grid-container {
    display: grid;
    grid-template-areas: 'sidebar navbar' 'sidebar body';
    grid-template-rows: 7%;
    grid-template-columns: 10% auto;
}

.navbar {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    grid-area: body;
}
