.container {
    margin: 50px auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .submit {
    margin-bottom: 20px;
    background: #B3E5FC;
    width: 50%;
    border-radius: 5px;
  }

  .form{
    display: flex;
    gap: 50px;
  }
  